* {
    box-sizing:border-box
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Small */

@media (max-width: 768px) {
    .infocontainer {
        width: 50%;
    }
}

@media (max-width: 200px) {
    .info-container span,
    .info-container .tries,
    .info-container .welltries,
    .info-container .name{
        width: 50%;
        font-size: 15px;
        padding: 10px;
        font-weight: bold;
        padding-top: 10px;
        text-align: left;
    }
}

/* Medium */

@media (max-width: 992px) {
    .info-container {
        width: 75%;
    }
}

/* Large */

@media (max-width: 1200px) {
    .info-container {
        width: 50%;
    }
}


.control-buttons{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(38, 60, 119, 0.9);
}
.control-buttons span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);      
    color: #fff;
    background-color: #f44336;
    color: #fff;
    padding: 15px 25px;
    font-size: 30px;
    border-radius:6px;
    cursor: pointer;
}

.info-container{
    width: 75%;
    margin: 20px auto 0;
    background-color: #dbbe3e;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
}

.info-container .name{
    float: left;
    width: 20%;
    padding-top: 10px;
}

.info-container .tries,
.info-container .welltries{
    float: right;
    width: 50%;
    text-align: right;
    font-size: 20px;
}

.memory-game-container{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    margin: 20px auto;
    background-color: rgb(122, 118, 151);
}
.memory-game-container.no-clicking{
    pointer-events: none;
}
.memory-game-container .game{
    height: 200px;
    transition: transform .2s;
    transform-style: preserve-3d;
    cursor: pointer;       
    position:relative;
    flex: 1 0 180px;
    margin: 0 1px 2px;
} 

.memory-game-container .game .front{
    background-color: #333;
    line-height: 200px;
}
.memory-game-container .game .front:before{
    content: '!';
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}
.memory-game-container .game .back{
    background-color: rgb(98, 101, 248);
    transform: rotateY(180deg);
}
.memory-game-container .game .back img{
    width: 140px;
    height: 140px;
    margin-top: 30px;
}

.memory-game-container .game .face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
}
.memory-game-container .game.is-flipped,
.memory-game-container .game.has-match{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}

/* The cursor property specifies the mouse cursor to be displayed when pointing over an element.


La fonction translate() permet de déplacer un élément sur le plan représenté par le document. 
Cette transformation est définie à l'aide d'un vecteur dont les coordonnées définissent la quantité de déplacement sur chaque axe (horizontal et vertical).







